################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AspDotnetCore31/.vs/AspDotnetCore31/DesignTimeBuild
/AspDotnetCore31/.vs/AspDotnetCore31
/AspDotnetCore31/.vs/ProjectEvaluation
/AspDotnetCore31/AspDotnetCore31/obj
/AspDotnetCore31/.vs
/AspDotnetCore31/AspDotnetCore31/bin/Debug/net8.0
/Three_Hours_Course/Three_Hours_Course/bin/Debug/net8.0
/Three_Hours_Course/Three_Hours_Course/Migrations
/Three_Hours_Course/Three_Hours_Course/obj
/Three_Hours_Course/Three_Hours_Course/Properties
/Three_Hours_Course/Three_Hours_Course/Views/.editorconfig
*.cshtml
/Three_Hours_Course/Three_Hours_Course/wwwroot/lib
/Three_Hours_Course/Three_Hours_Course/Views/Shared
/Three_Hours_Course/Three_Hours_Course/wwwroot/js
*.json
/Three_Hours_Course/.vs/Three_Hours_Course/v17
/Three_Hours_Course/.vs/Three_Hours_Course/FileContentIndex
/Three_Hours_Course/.vs/Three_Hours_Course/DesignTimeBuild
/Three_Hours_Course/.vs/Three_Hours_Course/config
/Three_Hours_Course/.vs/ProjectEvaluation
/AspDotnetCore31/AspDotnetCore31/.vs/AspDotnetCore31/FileContentIndex
/AspDotnetCore31/AspDotnetCore31/Lectures/PART_19/.vs/PART_19/FileContentIndex
/AspDotnetCore31/AspDotnetCore31/Lectures/PART_19/.vs/PART_19/v17/.wsuo
/AspDotnetCore31/AspDotnetCore31/Lectures/PART_19/.vs
